*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Удалите стандартные отступы */
* {
    margin: 0;
    padding: 0;
}

/* 3. Добавьте доступную высоту строки и улучшите рендеринг текста */
body {
    line-height: 1.2;

}

/* 4. Улучшите стандартные настройки медиа */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 5. Удалите встроенные стили типографики форм */
input, button, textarea, select {
    font: inherit;
}



/* 7. Создайте корневой контекст наложения */
:root {
	accent-color: #b21414;
	background: #12141c;
	color: gray #c4c4c4;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: inherit; Наследует цвет текста от родительского элемента */
}

.body-img {
    background-image: url(../../img/bckgr3.jpg);
    position: absolute;
    width: 100%;
    margin: 0;
    background-repeat: repeat;
    background-attachment: scroll;
}